<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Versions</title>
    <link rel="stylesheet" href="../../assets/css/style.css'">
    <link rel="stylesheet" href="../../components/card/card.css">

</head>

<body>
    <div class="container">
        <div class="card">
            <img class="card-img" src="../../images/box water.webp">
            <div class="card-content">
                <h1>Heading</h1>
                <p>About Project</p>
                <button type="button" class="small-btn btn-default">CTA Here</button>
            </div>
        </div>
    </div>
</body>

</html>