* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 8px;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Global styles for all buttons */
.btn {
  font: 2rem "Tangerine", Arial, sans-serif;
  border-radius: 15px;
  padding: 10px 20px;
  width: fit-content;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.btn:active {
  transform: translateY(4px);
}

/* Styles for buttons */
.btn-default {
  background-color: #e6d0ca;
  color: #915858;
}
.btn-default:hover {
  background-color: #eee4db;
  color: #d8ae9c;
}
.btn-default:active {
  background-color: #a6776a;
}

.btn-outline-default {
  background-color: transparent;
  color: #915858;
}
.btn-outline-default:hover {
  background-color: #eee4db;
  color: #d8ae9c;
}
.btn-outline-default:active {
  background-color: #a6776a;
}

.btn-lg {
  background-color: #e6d0ca;
  color: #915858;
  padding: 20px 40px;
}
.btn-lg:hover {
  background-color: #eee4db;
  color: #d8ae9c;
}
.btn-lg:active {
  background-color: #a6776a;
}

.btn-sm {
  background-color: #e6d0ca;
  color: #915858;
  padding: 5px 10px;
}
.btn-sm:hover {
  background-color: #eee4db;
  color: #d8ae9c;
}
.btn-sm:active {
  background-color: #a6776a;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: fit-content;
  padding: 48px 88px;
  gap: 32px;
}

.card-stlye-one {
  position: relative;
  width: 350px;
  height: 400px;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.31);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.card-stlye-one::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-stlye-one.primary::before {
  background-image: url();
}
.card-stlye-one.secondary::before {
  background-image: url();
}
.card-stlye-one.third::before {
  background-image: url();
}
.card-stlye-one .card-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0.5rem;
  background-color: navajowhite;
  transition: opacity 0.3s ease-in-out;
}
.card-stlye-one .card-overlay p {
  color: red;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
}
.card-stlye-one:hover .card-overlay {
  opacity: 1;
}

.card-style-two {
  position: relative;
  width: 350px;
  height: 400px;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.31);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.card-style-two::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-style-two.primary::before {
  background-image: url("/public/img/computer-one.jpeg");
}
.card-style-two.secondary::before {
  background-image: url("/public/img/computer-two.jpeg");
}
.card-style-two.third::before {
  background-image: url("/public/img/computer-three.jpeg");
}
.card-style-two .card-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}
.card-style-two .card-overlay p {
  color: red;
  text-align: center;
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  padding: 0 1rem;
}

.cardbtn {
  box-shadow: 0px 9px 20px 0px rgba(151, 77, 60, 0.31);
}

/* CSS for desktop view */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}
.overlay.open {
  display: block;
}

header {
  position: relative;
  width: 100%;
  z-index: 999;
}

.navbar {
  background-color: #915858;
  font-family: "Tangerine", Arial, sans-serif;
  color: #eee4db;
  height: 11rem;
  padding: 0 11rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.navbar a {
  color: #eee4db;
  text-decoration: none;
}
.navbar .nav-logo {
  width: 100%;
}
.navbar .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 2.5rem;
}
.navbar .nav-list a:hover {
  color: #a6776a;
}
.navbar .btn-nav {
  font-size: 2.5rem;
}
.navbar .toggle-btn {
  color: #eee4db;
  font-size: 3rem;
  display: none;
}

.dropdown-nav {
  display: none;
  position: absolute;
  top: 11rem;
  width: 100%;
  height: 0;
  background-color: #915858;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  padding: 0;
  font-size: 3rem;
  font-family: "Tangerine", Arial, sans-serif;
  transition: height 0.2s ease-in-out;
  box-shadow: 3px 9px 13px 4px rgba(0, 0, 0, 0.18);
  z-index: 999;
}
.dropdown-nav.open {
  height: 400px;
}
.dropdown-nav .dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  padding: 6rem;
  width: 100%;
  height: inherit;
}
.dropdown-nav .dropdown-list a {
  color: #eee4db;
}
.dropdown-nav .dropdown-list button {
  width: 100%;
}
.dropdown-nav .btn-dropdown {
  font-size: 2.5rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .main-nav {
    padding: 0 5rem;
  }
  .main-nav .nav-list {
    display: none;
  }
  .main-nav .toggle-btn {
    display: block;
  }
  .dropdown-nav {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
