@charset "UTF-8";
@media only screen and (max-width: 576px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 8px;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Global styles for all buttons */
.btn {
  font: 2rem "Tangerine", Arial, sans-serif;
  border-radius: 15px;
  padding: 10px 20px;
  width: fit-content;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.btn:active {
  transform: translateY(4px);
}

/* Styles for buttons */
.btn-default {
  background-color: #e6d0ca;
  color: #915858;
}
.btn-default:hover {
  background-color: #eee4db;
  color: #d8ae9c;
}
.btn-default:active {
  background-color: #a6776a;
}

.btn-outline-default {
  background-color: transparent;
  color: #915858;
}
.btn-outline-default:hover {
  background-color: #eee4db;
  color: #d8ae9c;
}
.btn-outline-default:active {
  background-color: #a6776a;
}

.btn-lg {
  background-color: #e6d0ca;
  color: #915858;
  padding: 20px 40px;
}
.btn-lg:hover {
  background-color: #eee4db;
  color: #d8ae9c;
}
.btn-lg:active {
  background-color: #a6776a;
}

.btn-sm {
  background-color: #e6d0ca;
  color: #915858;
  padding: 5px 10px;
}
.btn-sm:hover {
  background-color: #eee4db;
  color: #d8ae9c;
}
.btn-sm:active {
  background-color: #a6776a;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: fit-content;
  padding: 48px 88px;
  gap: 32px;
}

.card-stlye-one {
  position: relative;
  width: 350px;
  height: 400px;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.31);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.card-stlye-one::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-stlye-one.primary::before {
  background-image: url(/public/images/cam1.jpeg);
}
.card-stlye-one.secondary::before {
  background-image: url(/public/images/cam2.jpeg);
}
.card-stlye-one.third::before {
  background-image: url(/public/images/cam3.jpeg);
}
.card-stlye-one .card-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0.5rem;
  background-color: navajowhite;
  transition: opacity 0.3s ease-in-out;
}
.card-stlye-one .card-overlay p {
  color: red;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1rem;
}
.card-stlye-one:hover .card-overlay {
  opacity: 1;
}

.card-style-two {
  position: relative;
  width: 350px;
  height: 400px;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.31);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.card-style-two::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-style-two.primary::before {
  background-image: url(/public/images/cam1.jpeg);
}
.card-style-two.secondary::before {
  background-image: url(/public/images/cam2.jpeg);
}
.card-style-two.third::before {
  background-image: url(/public/images/cam3.jpeg);
}
.card-style-two .card-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}
.card-style-two .card-overlay p {
  color: red;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  padding: 0 1rem;
}

.btn {
  box-shadow: 0px 9px 20px 0px rgba(151, 77, 60, 0.31);
}
.btn:hover {
  background-color: #3e8e41;
}

.hero-container {
  background-image: url(/public/images/cam\ 3.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 40rem;
  height: auto;
  width: 100%;
  color: #eee4db;
  display: flex;
}
.hero-container .hero-overlay {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* if you dont want this centered remove justify and align item */
  align-items: center;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 2rem;
  padding: 11rem;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-container .hero-title {
  font-size: 7rem;
  font-family: "Tangerine", Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
}
.hero-container .hero-sub {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.75rem;
  font-weight: 200;
  max-width: 60rem;
}
.hero-container .btn-hero {
  width: fit-content;
  font-size: 2.25rem;
}

@media only screen and (max-width: 768px) {
  .hero-container .hero-overlay {
    padding: 5rem;
  }
  .hero-container .hero-title {
    font-size: 6rem;
  }
  .hero-container .hero-sub {
    font-size: 2rem;
  }
  .hero-container .btn-hero {
    font-size: 2rem;
  }
}
/* CSS for desktop view */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}
.overlay.open {
  display: block;
}

header {
  position: relative;
  width: 100%;
  z-index: 999;
}

.navbar {
  background-color: #915858;
  font-family: "Tangerine", Arial, sans-serif;
  color: #eee4db;
  height: 11rem;
  padding: 0 11rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.navbar a {
  color: #eee4db;
  text-decoration: none;
}
.navbar .nav-logo {
  width: 100%;
}
.navbar .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 2.5rem;
}
.navbar .nav-list a:hover {
  color: #a6776a;
}
.navbar .btn-nav {
  font-size: 2.5rem;
}
.navbar .toggle-btn {
  color: #eee4db;
  font-size: 3rem;
  display: none;
}

.dropdown-nav {
  display: none;
  position: absolute;
  top: 11rem;
  width: 100%;
  height: 0;
  background-color: #915858;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  padding: 0;
  font-size: 3rem;
  font-family: "Tangerine", Arial, sans-serif;
  transition: height 0.2s ease-in-out;
  box-shadow: 3px 9px 13px 4px rgba(0, 0, 0, 0.18);
  z-index: 999;
}
.dropdown-nav.open {
  height: 400px;
}
.dropdown-nav .dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  padding: 6rem;
  width: 100%;
  height: inherit;
}
.dropdown-nav .dropdown-list a {
  color: #eee4db;
}
.dropdown-nav .dropdown-list button {
  width: 100%;
}
.dropdown-nav .btn-dropdown {
  font-size: 2.5rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .main-nav {
    padding: 0 5rem;
  }
  .main-nav .nav-list {
    display: none;
  }
  .main-nav .toggle-btn {
    display: block;
  }
  .dropdown-nav {
    display: block;
  }
}
.footer-primary {
  background-color: #e6d0ca;
  color: #eee4db;
  padding: 2rem;
  width: 100vw;
  height: fit-content;
  text-align: center;
  font-family: "tangerine";
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  gap: 3rem;
}
.footer-primary a {
  color: #eee4db;
}
.footer-primary a:hover {
  color: #a6776a;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.footer-container a img {
  width: 6rem;
  height: auto;
  cursor: pointer;
}

.footer-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 64px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 300;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: fit-content;
  gap: 2rem;
}
.footer-social ul img {
  width: 4rem;
  height: auto;
  cursor: pointer;
}

.footer-copyright {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (max-width: 600px) {
  .footer-links ul {
    flex-direction: column;
    gap: 16px;
  }
}
* {
  font-family: "Tangerine", Arial, sans-serif;
  color: #eee4db;
}

.breadcrumb {
  display: flex;
  font-size: 3rem;
  padding: 0 0.5rem;
  align-items: center;
  background-color: #915858;
  height: 5rem;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb ul a:hover {
  color: #a6776a;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: "→";
}

.gallery-one {
  padding: 5rem 11rem 11rem 11rem;
  text-align: center;
}
.gallery-one h2 {
  font-family: "tangerine";
  font-weight: 400;
  font-size: 6rem;
  color: #915858;
}
.gallery-one p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  line-height: 1.5;
  font-size: 2.25rem;
  color: #915858;
  margin: 2rem 0;
}
.gallery-one .gallery-container {
  height: 90vh;
  width: 100%;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-template-areas: "gallery1 gallery2 gallery3" "gallery1 gallery4 gallery5" "gallery6 gallery7 gallery5";
  padding-top: 3rem;
}
.gallery-one .gallery-container .gallery-item {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.gallery-one .gallery-container .gallery-item:hover {
  transform: scale(1.05);
}
.gallery-one .gallery-container .gallery-item.item1 {
  grid-area: gallery1;
  background-image: url(/public/images/gallery\ 1.webp);
  background-size: cover;
  background-position: center;
}
.gallery-one .gallery-container .gallery-item.item2 {
  grid-area: gallery2;
  background-image: url(/public/images/gallery\ 2.webp);
  background-size: cover;
  background-position: center;
}
.gallery-one .gallery-container .gallery-item.item3 {
  grid-area: gallery3;
  background-image: url(/public/images/gallery\ 3.webp);
  background-size: cover;
  background-position: center;
}
.gallery-one .gallery-container .gallery-item.item4 {
  grid-area: gallery4;
  background-image: url(/public/images/gallery\ 4.webp);
  background-size: cover;
  background-position: center;
}
.gallery-one .gallery-container .gallery-item.item5 {
  grid-area: gallery5;
  background-image: url(/public/images/gallery\ 5.webp);
  background-size: cover;
  background-position: center;
}
.gallery-one .gallery-container .gallery-item.item6 {
  grid-area: gallery6;
  background-image: url(/public/images/gallery\ 6.webp);
  background-size: cover;
  background-position: center;
}
.gallery-one .gallery-container .gallery-item.item7 {
  grid-area: gallery7;
  background-image: url(/public/images/gallery\ 7.webp);
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .galleryStyleOne {
    padding: 5rem;
  }
  .galleryStyleOne .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "gallery1 gallery2 gallery3" "gallery4 gallery5 gallery6" "gallery7 gallery7 gallery6";
  }
}
@media (max-width: 600px) {
  .gallery-one {
    padding: 5rem;
  }
  .gallery-one h2 {
    font-size: 5rem;
    line-height: 1.25;
  }
  .gallery-one p {
    font-size: 2rem;
  }
  .gallery-one .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "gallery2 gallery2" "gallery3 gallery1" "gallery5 gallery4" "gallery5 gallery7" "gallery6 gallery7";
    grid-gap: 1.5rem;
    padding-top: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
