/* Global styles for all buttons */
.btn {
    font: 2rem 'Tangerine', Arial, sans-serif;
    border-radius: 15px;
    padding: 10px 20px;
    width: fit-content;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    &:active {
        transform: translateY(4px);
    }
}

/* Styles for buttons */
.btn-default {
    background-color: $blush;
    color: $mauve;

    &:hover {
        background-color: $cream;
        color: $peach;
    }

    &:active {
        background-color: $dustyrose;
    }
}

.btn-outline-default {
    background-color: transparent;
    color: $mauve;

    &:hover {
        background-color: $cream;
        color: $peach;
    }

    &:active {
        background-color: $dustyrose;
    }
}

.btn-lg {
    background-color: $blush;
    color: $mauve;
    padding: 20px 40px;

    &:hover {
        background-color: $cream;
        color: $peach;
    }

    &:active {
        background-color: $dustyrose;
    }
}

.btn-sm {
    background-color: $blush;
    color: $mauve;
    padding: 5px 10px;

    &:hover {
        background-color: $cream;
        color: $peach;
    }

    &:active {
        background-color: $dustyrose;
    }
}